
      <footer>
          <div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright: <a href="#"> HomeSpace </a>
      
              </div>
          </div>
          <!--/.Copyright-->
      
      </footer>