        <link type="text/css" rel="stylesheet" href="/assets/css/bio.css"/>
        
        <div class="main-content container-fluid">

          <div class="row bio-bg-section page-section">
            <div class="inner-wrapper col-md-12">
              <div class="aside">
                <p class="berkshire-font">Founders</p>
              </div>

              <div class="bio-column">
                <div class="row">
                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_lee">
                      <img src="./assets/img/Lee_final.png" width="100%">
                  </div>
                  
                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_gabriel">
                      <img src="./assets/img/Gabriel_final.png" width="100%">
                  </div>

                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_marsha">
                      <img src="./assets/img/Marsha-final.png" width="100%">
                  </div>

                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_naveed">
                      <img src="./assets/img/Naveed_final.png" width="100%">
                  </div>

                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_ryan">
                      <img src="./assets/img/Ryan_final.png" width="100%">
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>  <!-- main-content -->
        
        <!-- Custom Modal -->
        <div class="modal fade bio-modal" id="modalBio_lee">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Lee_wBio.png" width="200">
                </div>
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_gabriel">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Gabriel_wBio.png" width="200">
                    <p></p>
                </div>
               
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_marsha">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Marsha_wBio.png" width="200">
                </div>
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_naveed">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Naveed_wBio.png" width="200">
                    <p></p>
                </div>
               
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_ryan">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Ryan_wBio.png" width="200">
                </div>
            </div>

        </div>