        <link type="text/css" rel="stylesheet" href="/assets/css/bio.css"/>
        
        <div class="main-content container-fluid">

          <div class="row bio-bg-section page-section">
            <div class="inner-wrapper col-md-12">
              <div class="aside">
                <p class="berkshire-font">Founders</p>
              </div>

              <div class="bio-column">
                <div class="row">
                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_lee">
                      <img src="./assets/img/Lee_final.png" width="100%">

                  </div>
                  
                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_gabriel">
                      <img src="./assets/img/Gabriel_New.png" width="100%">
                  </div>

                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_marsha">
                      <img src="./assets/img/Marsha_New.png" width="100%">
                  </div>

                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_naveed">
                      <img src="./assets/img/Naveed_final.png" width="100%">
                  </div>

                  <div class="image_frame" data-toggle="modal" data-target="#modalBio_ryan">
                      <img src="./assets/img/Ryan_final.png" width="100%">
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>  <!-- main-content -->
        
        <!-- Custom Modal -->
        <div class="modal fade bio-modal" id="modalBio_lee">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Lee_wBio.png" width="200">
                    
                    <h3 class="berkshire-font">Lee Grabarczyk</h3>
                    <p>A few years ago I went through a difficult time. I experienced great loss, the loss of my home, my business and a long term relationship. During this time I benefitted from people in my life who generously gave of themselves. I promised to them and to myself that when I was ready I would do what I could to give back to those who had so graciously given to me. This project is dedicated to them.</p>
                </div>
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_gabriel">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Gabriel_wBioNew.png" width="200">
                    <h3></h3>Gabriel Deleon</h3>
                    <p></p>
                </div>
               
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_marsha">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Marsha_wBioNew.png" width="200">
                    <h3>Marsha G Miquela</h3>
                    <p>Here is the copy from Marsha. As a professional I am customer-oriented and I put passion in everything I do because I am always grateful that I am given this opportunity. As individual I show empathy, trustworthy and respect for my fellow individual.</p>
                </div>
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_naveed">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Naveed_wBio.png" width="200">
                    <h3>Naveed Jamal</h3>>
                </div>
               
            </div>

        </div>
        <div class="modal fade bio-modal" id="modalBio_ryan">
            <div class="modal-dialog" role="document">
                <div class="modal-content bio-content">
                    <img src="./assets/img/Ryan_wBio.png" width="200">
                    <h3>Ryan Calingo</h3>
                </div>
            </div>

        </div>