<link type="text/css" rel="stylesheet" href="/assets/css/docs_therapists.css" />

<div class="main-content container-fluid" id="docs_section">

    <div class="row bio-bg-section page-section">
        <div class="inner-wrapper col-md-12">
            <div class="aside">
                <p class="berkshire-font">Doctors and Therapists</p>
            </div>

            <div class="column">
                <!-- main-content -->
                
                <h1>ADD DOCTORS/THERAPISTS</h1>
                <form id="signup" name="signup" method="post" action="/signup">
                    <label for="name">Name</label>
                    <input name="name" type="text" />
                    <label for="phone">Phone</label>
                    <input name="phone" type="text" />
                    <label for="email">Email Address</label>
                    <input class="text" name="email" type="email" />
                    <label for="classification">Classification</label>
                    <input name="classification" type="text" />
                    <input class="btn" type="submit" value="Add this Doctor/Therapist" />
                </form>


            </div>
        </div>
    </div>

</div>