
        
        <div class="main-content container-fluid intro-section ">
          <div class="row">
            <div class="col-md-12">
              <img id="homespae-logo" src="./assets/img/home_logo.png" />
            
              <div class="home-banner">

                  <div class="column">
                    <p class="greeting">Home a place to go to, and <br>more a space we come from. <br>In spite of life’s challenges.<br>You’ve taken the first step.<br>Welcome home <i class="fa fa-heart"></i></p>

                  </div>
              </div>  <!-- home-banner -->
            </div>
          </div> <!-- row -->
        </div>
        
        <div class="main-content container-fluid welcome-section ">

          <div class="row page-section">
            <div class="inner-wrapper col-md-12">
              <div class="aside">
                <p class="berkshire-font">The hardest part is behind you, the first step towards a better life</p>
              </div>

              <div class="column">
                <h3 class="yellow-font berkshire-font">WELCOME</h3>
                <p>Home Space is a small agency of therapists who provide psychological services. Here are therapists working together providing services to children and adults.</p>

                <h3 class="yellow-font berkshire-font">OUR PHILOSOPHY</h3>
                <p>We believe that a trusting relationship is essential to success with therapy. We help clients set goals based on their strengths, while helping them manage their feelings in a way that makes them be and feel successful. We work closely with a client’s physician and/or other healthcare professionals to provide a multi disciplinary approach that will enable our clients to reach their full potential. In a quiet, supportive environment, you can take the time to stop and think. With sensible and sensitive feedback, you will begin to make concrete, healthy changes in your day-to-day life.</p>

                <a href="category1" ><button type="button" class="btn btn-lg btn-primary" id="questionairBtn" href="category1">Learn More</button></a>
              </div>
            </div>
          </div>
        </div>  <!-- main-content -->
        {{!-- {{>music}} --}}



