        <link type="text/css" rel="stylesheet" href="/assets/css/resources.css"/>
        
        <div class="main-content container-fluid" id="resources-section">

          <div class="row page-section">
            <div class="inner-wrapper col-md-12">
              <div class="aside">
              </div>


              <div class="column">
                <p class="berkshire-font">List of Mental Health Resources</p>

                <ul>

                  <li>
                    Description A
                    <br>
                    <a href="http://feelingkindablue.ning.com/page/resources">http://feelingkindablue.ning.com/page/resources</a>
                  </li>
                  <li>
                    Description B
                    <br>
                    <a href="http://www.nowmattersnow.org/help-line">http://www.nowmattersnow.org/help-line</a>
                  </li>
                  <li>
                    Description C
                    <br>
                    <a href="http://remedylive.com/category/issues/">http://remedylive.com/category/issues</a>
                  </li>
                  <li>
                    Description D
                    <br>
                    <a href="https://findtreatment.samhsa.gov/locator">https://findtreatment.samhsa.gov/locator</a>
                  </li>
                  <li>
                    Description E
                    <br>
                    <a href="https://www.mentalhealth.gov/get-help/immediate-help">https://www.mentalhealth.gov/get-help/immediate-help</a>
                  </li>
                  <li>
                    Description F
                    <a href="https://www.healthcentral.com/article/how-do-i-get-mental-health-services-with-no-money-and-no-insurance">https://www.healthcentral.com/article/how-do-i-get-mental-health-services-with-no-money-and-no-insurance</a>
                  </li>
                  <li>
                    Description G
                    <br>
                    <a href="https://lifehacker.com/top-10-free-and-affordable-mental-health-and-counseling-1788814933">https://lifehacker.com/top-10-free-and-affordable-mental-health-and-counseling-1788814933</a>
                  </li>
                  <li>
                    Description H
                    <br>
                    <a href="https://www.medicaid.gov/medicaid/benefits/bhs/index.html">https://www.medicaid.gov/medicaid/benefits/bhs/index.html</a>
                  </li>
                  <li>
                    Description I
                    <br>
                    <a href="http://www.nj.gov/humanservices/clients/mental">http://www.nj.gov/humanservices/clients/mental</a>
                  </li>
                </ul>



              </div>
            </div>
          </div>

        </div>  <!-- main-content -->