        <link type="text/css" rel="stylesheet" href="/assets/css/resources.css"/>
        
        <div class="main-content container-fluid" id="resources-section">

          <div class="row page-section">
            <div class="inner-wrapper col-md-12">
              <div class="aside">
                <p class="berkshire-font">Resources</p>
              </div>


              <div class="column">



              </div>
            </div>
          </div>

        </div>  <!-- main-content -->