
/* ----- Used Fonts ----- */
/* 
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Cutive', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', 'Arial', sans-serif;
*/

/* -----  Main Navbar  ----- */
body {
    font-family: 'Lato', 'Arial', sans-serif;
}


.nav-item { font-family: 'Open Sans', sans-serif; }

.navbar-light .navbar-nav .nav-link:hover {
    color: #65a243;
}
#loginBtn {
    color: #ffffff;
    background-color: #65a243;
}
#loginBtn:hover {
    color: #ffffff;
    background-color: #375a25;
}
/* ----  Main Content  ---------- */
.main-content {
    padding-right: 0;
    padding-left: 0;
}
#homespae-logo {
    width: 450px;
    position: absolute;
    top: 10px;;
    left: 40px;
}

.home-banner {
    background: url('../img/CoverImage_v0.jpg') center / 100% auto no-repeat;
    /* width: 1444px; */
    height: 600px;
    overflow: hidden;
    margin-top: 52px;
}
.column {
    margin-left: 270px;
    display: inline-block;
    width: 40.972222%; /* 590 / 1444 */
    height: 100%;
    background: rgba(134, 134, 134, 0.4);
}
.greeting {
    margin-top: 220px;
    padding: 70px 30px 0;
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.greeting .fa-heart {
    color: #ff2323;
}
.yellow-font, .yellow-font *  { 
    color: #fff200
}
.berkshire-font, .berkshire-font * { 
    font-family: 'Berkshire Swash', cursive;
}
.welcome-section {
    background: url('../img/CoverImage_v1.jpg') center / 100% auto no-repeat;
}
.page-section {
    /* width: 1444px; */
    height: 600px;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
}
.page-section {
    color: #ffffff;
}
.page-section .column {
    padding: 50px 20px;
    font-family: 'Open Sans', sans-serif;
}
.page-section .aside {
    position: absolute;
    width: 240px;
    padding: 40px 0 0 30px;;
}
.page-section .aside p {
    font-size: 32px;
}

#chat_Button {
    position: fixed;
    width: 90px;
    bottom: 10px;
    right: 90px;
    z-index: 11;
    cursor: pointer;
}

#questionairBtn {
   width: 170px;
    position: absolute;
    margin-top: 20px;
    left: 680px;
}
.group-greeting {
    position: relative;
    z-index: 5;
    top: 0;
    height: 600px;
}
.home-banner {
    position: relative;
}
.intro-slider {
    width: 1444px;
    height: 600px;
    position: absolute;
    left: 0;
}
.intro-slider .slider-img {
    width: 1470px;
    position: absolute;
    top: -50px;
    opacity: 1;
    transition: opacity 0.5s;
}
.slide-img.FADE {
    opacity: 0;
}


/* ==========  MEDIA QUERY  ========== */

/* ----  768px Screen size  ---- */
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}