<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Space</title>

    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Font Awesome Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crete+Round:400i" rel="stylesheet">

    <!-- local styles -->
    <link type="text/css" rel="stylesheet" href="./../public/assets/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="./../public/assets/css/main.css" />
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <!-- <div class="navbar-header">
                <a class="navbar-brand" href="#"></a>
              </div> -->
            <ul class="nav navbar-nav main-navbar">
                <li class="active">
                    <a href="#">Welcome Information</a>
                </li>
                <li>
                    <a href="#">Questionnaire links</a>
                </li>
                <li>
                    <a href="#">Resource</a>
                </li>
                <li>
                    <a href="#">Chat</a>
                </li>
                <li>
                    <a href="#">Doctors and Therapist</a>
                </li>
                <li>
                    <a href="#">Make an Appointment</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-content container-fluid">

        <div class="home-banner">
            <div class="callout">
                <img id="homespae-logo" src="./../public/assets/img/home_logo.png" />
                <p class="greeting">Home a place to go to, and
                    <br>more a space we come from.
                    <br>In spite of life’s challenges.
                    <br>You’ve taken the first step.
                    <br>Welcome home
                    <span class="glyphicon glyphicon-heart"></span>
                </p>
            </div>
        </div>
        <!-- home-banner -->

    </div>
    <!-- main-content -->

    <script></script>
</body>

</html>